<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/styles.css">
    <title>Главная страница</title>
</head>
<body>
    <div id="divHead" th:fragment="head">
        <header>
            <h1 id="h1Header">Монитор ПО Grand Smeta</h1>
        </header>
    </div>
    <div id="divNavigation" th:fragment="navigation">
        <button class="buttonMain" id="buttonNavigation" onclick="window.location = '/so'">Сметный отдел</button>
    </div>
    <div>

    </div>
</body>
</html>