<div class="modalMain" id="divModalChangeGS" th:fragment="divModalChangeGS">
    <p><b>Изменить установленную версию Grand Smeta</b></p>
    <form method="POST" action="/soUpdate">
        <input id="userName" name="userName">
        <p id="gs"></p>
        <select class="infoUpdateGSSelectAndInput" name="changeGS">
            <th:block th:each="gs : ${grandSmeta}">
                <option th:text="${gs.getSoftVersion()}"></option>
            </th:block>
        </select>
        <input class="infoUpdateGSSelectAndInput" type="date" name="dataUpdate" value="2016-01-01" min="2016-01-01" max="2030-01-01">
        <br>
        <button id="buttonUpdateInfoGs" class="buttonMain" type="submit">Подтвердить</button>
    </form>
</div>