<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сметный отдел</title>
</head>
<body>
<div th:replace="~{index :: head}"></div>
<div id="divContent">
    <div th:replace="~{index :: navigation}"></div>
    <div>
        <p style="margin-left: 5px; font-size: 18px;">Последняя версия Grand Smeta на текущий момент: [[${lastVersionGrandSmeta}]]</p>
        <details>
            <summary>Сметный отдел</summary>
            <br>
            <table class="tableMain">
                <thead>
                    <tr>
                        <th>Номер ключа</th>
                        <th><p>ФИО</p></th>
                        <th>Группа</th>
                        <th>Версия гранд сметы</th>
                        <th>Дата обновления</th>
                        <th>Заметка</th>
                    </tr>
                </thead>
            <!--Тут происходит заполнение таблицы исходя из списка пользователей полученного с контроллера UserController-->
                <tbody id="tableBody">
                <tr th:each="key : ${keys}">
                    <td th:text="${key.getNumberForKey()}"></td>
                    <th:block th:each="userInfo : ${key.getUser()}">
                        <td th:text = ${userInfo.getName()}></td>
                        <td th:text = ${userInfo.getGroupUser()}></td>
                        <td th:switch="${userInfo.getGrandSmeta()}" th:ondblclick="showModalGS([[${userInfo.getName()}]], [[${userInfo.getGrandSmeta()}]]);">
                            <th:block th:case="null">
                                <button class="pButton" style="color: #ff0033; margin: 0;">Нет данных</button>
                            </th:block>
                            <th:block th:case="*">
                                <th:block  th:each="gs : ${userInfo.getGrandSmeta()}" >
                                    <th:block th:switch="${gs.getSoftVersion}">
                                        <th:block th:case="${lastVersionGrandSmeta}">
                                            <button class="pButton" th:text="${gs.getSoftVersion()}" style="color: #00ff7f; margin: 0;" ></p>
                                        </th:block>
                                        <th:block th:case="*">
                                            <button class="pButton" th:text="${gs.getSoftVersion()}" style="color: #fbff00; margin: 0;"></p>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </td>
                        <td th:switch = "${userInfo.getDateUpdate()}">
                            <p th:case="null">Нет данных</p>
                            <p th:case="*" th:text="${userInfo.getDateUpdate()}"></p>
                        </td>
                        <td th:text = ${userInfo.getNote()}></td>
                    </th:block>
                    </tr>
                </tbody>
            </table>
        </details>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/0'">Сектор смет</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/1'">Группа смет №1</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/2'">Группа смет №2</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/3'">Группа смет №3</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/4'">Группа смет №4</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/5'">Группа смет №5</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/6'">Группа смет №6</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/POS'">Сектор ПОС</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/POS1'">Группа ПОС №1</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/POS2'">Группа ПОС №2</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/TEO'">Группа ТЭО</button>
        <br>
        <button class="pButton" style="margin-left: 12px; margin-top: 10px;" onclick="window.location = '/group/BOSS'">Начальник отдела</button>
    </div>
</div>
<div th:replace="~{modal :: divModalChangeGS}"></div>
</body>
</html>