html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background: #2f353b;
}
td{
    border: 1px solid;
}
th{
    border: 1px solid;
}
p{
    color: #FFFFFF;
    font-family: sans-serif;
}
#h1Header{
    font-family: sans-serif;
    margin-left: 10px;
}
#divHead{
    background: #151719;
    color: #FFFFFF;
    display: flex;
}
#divNavigation{
    width: 10%;
    min-height: 100%;
    background: #0a0a0a;
}
#buttonNavigation{
    border: none;
    width: 100%;
    text-align: left;
    font-size: 20px;
    height: 65px;
    transition: 0.2s;
}
#divContent{
    display: flex;
    min-height: 100%;
}
#tableAllSO{
    display: none;
}
.buttonMain{
    color: #ffffff;
    background: #0a0a0a;
}
.tableMain{
    margin-left: 5px;
    color: #ffffff;
    border: solid, 1px, #ffffff;
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
}
.pButton{
    cursor: default;
    margin-left: 5px;
}
.pButton:hover{
    color: #b0c4de;
}
#buttonNavigation:hover{
    background: #272829;
    
}